.trivia {
	color: turquoise;
}
.general--button{
	text-align: center;
}
.music--button{
	text-align: center;
}
.history--button{
	text-align: center;
}
.art--button{
	text-align: center;
}
.entertainment--button{
	text-align: center;
}
.science--button{
	text-align: center;
}
.sports--button{
	text-align: center;
}
.literature--button{
	text-align: center;
}
